
.infected {
	border-bottom: 15px solid #0275d8;
}

.recovered {
	border-bottom: 15px solid #5cb85c;
}


.deaths {
	border-bottom: 15px solid #d9534f;
}


.title-underline {
	width: 400px;
	height: 7px;
	margin: 0 auto;
	/*background: blue !important;*/
}

.flex-item {
  justify-content: center;
}